/*
Hella Gutmann - macsDS (Data Services) - API collection

This document contains all relevant APIs for diagnostics (incl. DTCs), repair & maintenance information (RMI) and vehicle identification.

API version: V20240702-130718
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gomacds

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// WiringDiagramsImageAPIAPIService WiringDiagramsImageAPIAPI service
type WiringDiagramsImageAPIAPIService service

type WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest struct {
	ctx context.Context
	ApiService *WiringDiagramsImageAPIAPIService
	diagramId *string
}

// Diagram Id
func (r WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest) DiagramId(diagramId string) WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest {
	r.diagramId = &diagramId
	return r
}

func (r WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.Image2WiringDiagramsExecute(r)
}

/*
Image2WiringDiagrams Get image wiring-diagrams

The Image API for wiring-diagrams serves as complement API to the "Wiring Diagrams Diagram API" and returns an image based on an diagramId.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest
*/
func (a *WiringDiagramsImageAPIAPIService) Image2WiringDiagrams(ctx context.Context) WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest {
	return WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *WiringDiagramsImageAPIAPIService) Image2WiringDiagramsExecute(r WiringDiagramsImageAPIAPIImage2WiringDiagramsRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WiringDiagramsImageAPIAPIService.Image2WiringDiagrams")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/image/wiring-diagrams"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.diagramId == nil {
		return localVarReturnValue, nil, reportError("diagramId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "diagramId", r.diagramId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"image/svg+xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
