/*
Hella Gutmann - macsDS (Data Services) - API collection

This document contains all relevant APIs for diagnostics (incl. DTCs), repair & maintenance information (RMI) and vehicle identification.

API version: V20240702-130718
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package github.com/binhatch/go-macds

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// WiringDiagramsSystemsAPIAPIService WiringDiagramsSystemsAPIAPI service
type WiringDiagramsSystemsAPIAPIService service

type ApiPostWiringDiagrams1SystemsRequest struct {
	ctx context.Context
	ApiService *WiringDiagramsSystemsAPIAPIService
	wiringDiagramsRequestDTO *WiringDiagramsRequestDTO
}

// The request requires at least kType, language.
func (r ApiPostWiringDiagrams1SystemsRequest) WiringDiagramsRequestDTO(wiringDiagramsRequestDTO WiringDiagramsRequestDTO) ApiPostWiringDiagrams1SystemsRequest {
	r.wiringDiagramsRequestDTO = &wiringDiagramsRequestDTO
	return r
}

func (r ApiPostWiringDiagrams1SystemsRequest) Execute() ([]WiringDiagramSystemsResponse, *http.Response, error) {
	return r.ApiService.PostWiringDiagrams1SystemsExecute(r)
}

/*
PostWiringDiagrams1Systems Post wiring diagrams systems

Endpoint to get all available wiring diagrams systems.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostWiringDiagrams1SystemsRequest
*/
func (a *WiringDiagramsSystemsAPIAPIService) PostWiringDiagrams1Systems(ctx context.Context) ApiPostWiringDiagrams1SystemsRequest {
	return ApiPostWiringDiagrams1SystemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []WiringDiagramSystemsResponse
func (a *WiringDiagramsSystemsAPIAPIService) PostWiringDiagrams1SystemsExecute(r ApiPostWiringDiagrams1SystemsRequest) ([]WiringDiagramSystemsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []WiringDiagramSystemsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WiringDiagramsSystemsAPIAPIService.PostWiringDiagrams1Systems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/wiring-diagrams/systems"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.wiringDiagramsRequestDTO == nil {
		return localVarReturnValue, nil, reportError("wiringDiagramsRequestDTO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.wiringDiagramsRequestDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostWiringDiagrams2DiagramRequest struct {
	ctx context.Context
	ApiService *WiringDiagramsSystemsAPIAPIService
	wiringDiagramsDiagramsRequestDTO *WiringDiagramsDiagramsRequestDTO
}

// The request requires at least systemId, language.
func (r ApiPostWiringDiagrams2DiagramRequest) WiringDiagramsDiagramsRequestDTO(wiringDiagramsDiagramsRequestDTO WiringDiagramsDiagramsRequestDTO) ApiPostWiringDiagrams2DiagramRequest {
	r.wiringDiagramsDiagramsRequestDTO = &wiringDiagramsDiagramsRequestDTO
	return r
}

func (r ApiPostWiringDiagrams2DiagramRequest) Execute() (*SystemAndDiagramResponse, *http.Response, error) {
	return r.ApiService.PostWiringDiagrams2DiagramExecute(r)
}

/*
PostWiringDiagrams2Diagram Post wiring diagrams diagrams

Endpoint to get a wiring diagrams diagram.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostWiringDiagrams2DiagramRequest
*/
func (a *WiringDiagramsSystemsAPIAPIService) PostWiringDiagrams2Diagram(ctx context.Context) ApiPostWiringDiagrams2DiagramRequest {
	return ApiPostWiringDiagrams2DiagramRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SystemAndDiagramResponse
func (a *WiringDiagramsSystemsAPIAPIService) PostWiringDiagrams2DiagramExecute(r ApiPostWiringDiagrams2DiagramRequest) (*SystemAndDiagramResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SystemAndDiagramResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WiringDiagramsSystemsAPIAPIService.PostWiringDiagrams2Diagram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/wiring-diagrams/diagram"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.wiringDiagramsDiagramsRequestDTO == nil {
		return localVarReturnValue, nil, reportError("wiringDiagramsDiagramsRequestDTO is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.wiringDiagramsDiagramsRequestDTO
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
