openapi: 3.0.3
info:
  description: "This document contains all relevant APIs for diagnostics (incl. DTCs),\
    \ repair & maintenance information (RMI) and vehicle identification."
  title: Hella Gutmann - macsDS (Data Services) - API collection
  version: V20240702-130718
  x-logo:
    backgroundColor: '#007d40'
    url: /_ui/9f042d7/logo.png
    href: /
servers:
- url: /
tags:
- description: "Endpoint to give Diagnostic Trouble Code interpretations as well as\
    \ a prediction of the affected vehicle component/part based on artificial intelligence,\
    \ if available. The API automatically detects if a trouble code (DTC) is in a\
    \ normed format (OBD), or a manufacture-specific/proprietary code. If mutliple\
    \ hits for 1 DTC are found, a ranking based on statistical relevance is returned.\
    \ When requesting the API, optional DTC parameters can be specified, such as the\
    \ format and the ECU system group."
  name: DTC API
- description: "This API endpoint is designed to facilitate user feedback for the\
    \ component prediction API. If the prediction API fails to deliver a result or\
    \ provides an incorrect vehicle component, users can use the feedback endpoint\
    \ to submit the correct component. This particular endpoint provides a list of\
    \ all vehicle components for users to select from. The selected component can\
    \ then be submitted back to Hella Gutmann via this feedback API, allowing for\
    \ continuous improvement of the prediction APIs accuracy."
  name: Component list for Feedback API
- description: "The K-Type discovery API allows you to get a unique K-Type (Tech Doc\
    \ vehicle identifier) by selecting a vehicle make, model and type. Use the /makes\
    \ endpoint to fetch all vehicle makes, pass the selected make id to the /models\
    \ endpoint, and finally pass the model id to the /types end point to get the K-Type."
  name: KType API
- description: "Lists all available components for a selected vehicle, and their hgs\
    \ component ID. (custom implementation for a customer)."
  name: KType Component Mapping
- description: "Includes several APIs that indicate location of certain vehicle elements\
    \ - Components, Fuses, Fuse Boxes and Relay."
  name: Location API
- description: The Component Measurement Values API is used to compare target pin
    values to actual measured values of the vehicle in order to detect faulty components.
    The API supplies target values for component pins and pins at the ECU. A first
    APi call provides the available components based on a KType and with the second
    call the specific component pin data can be retrieved.
  name: Component measurement values
- description: "This data provides detailed and task-specific information regarding\
    \ the time required for various work steps involved in the repair and maintenance\
    \ processes. This data type goes beyond traditional estimates by offering a comprehensive\
    \ breakdown of labor times associated with individual tasks, ranging from routine\
    \ inspections to intricate component replacements."
  name: Repair Times
- description: "The Guide API serves as complement API to other APIs, such as \"Technical\
    \ Data\" or \"Service Schedules\" and returns structured texts that are intended\
    \ to be used as guides on specific vehicle related data. For example, a guide\
    \ describing where the find the VIN plate, or steps needed to change the oil."
  name: Guide
- description: "The Image API serves as complement API to other APIs, such as , \"\
    Guide\", \"Technical Data\" or \"Service Schedules\" and returns an image based\
    \ on an imageId."
  name: Image
- description: "Keep an eye on all due vehicle inspections! Our API allows you to\
    \ manage the entire service schedule as well as every inspection of your vehicle\
    \ with minimal effort. For every vehicle the API will give you the entire maintenance\
    \ plan including the steps needed to perform the service, expected labour times,\
    \ spare parts and much more."
  name: Service Schedules
- description: Manufacture campaigns are proactive actions by the manufacturer when
    malfunctions are detected concerning certain models.
  name: Manufacturer Campaigns
- description: Recall campaigns are security-related actions coordinated via federal
    instituations (e.g. the Kraftfahrbundesamt (KBA) in Germany).
  name: Recall Campaigns
- description: "Get available repair instructions and manuals of a given vehicle,\
    \ incl. steps, images and valuable information."
  name: Repair Instructions
- description: "Get technical data for a selected vehicle, such as engine oil specifications,\
    \ brake disk dimensions, tire sizes etc."
  name: Technical Data
- description: Wiring Diagrams Systems API
  name: Wiring Diagrams Systems API
- description: "Service that upon specification of a KType number provides a list\
    \ of available vehicles. Since Ktype numbers are not granular enough, we offer\
    \ customers with this an option to get a specific vehicle model and type."
  name: Vehicle API
- description: The Vehicle Identification Service API predicts a KType or KBA number
    based on a VIN. The results shows a list of KTypes or KBAs with probabilities.
  name: VIS API
paths:
  /api/v3/pin/components:
    post:
      description: Get the available components of a specified Ktype for which pin
        data is available.
      operationId: compMeas31pinComponents
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ComponentsV3RequestDTO'
        description: The request at least requires the specification of kType and
          language to get a list of PIN components.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PinComponentsV3Response'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: No component found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Pin components V3
      tags:
      - Component measurement values
  /api/v3/pin/data:
    post:
      description: Get the Pin data of a specified component.
      operationId: compMeas32pinData
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ComponentDataV3RequestDTO'
        description: The request at least requires the specification of kType and
          language to get a list of PIN data.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PinDataV3Response'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: No data found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Pin data V3
      tags:
      - Component measurement values
  /api/v3/pin/ecu/image:
    get:
      description: Get the ECU image of a component with pin data.
      operationId: compMeas33pinEcuImage
      parameters:
      - description: Id of the ECU Image
        explode: true
        in: query
        name: ecuImageId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UrlResponse'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: No data found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: ECU image V3
      tags:
      - Component measurement values
  /api/v4/pin/components:
    post:
      description: Get the available components of a specified Ktype for which pin
        data is available.
      operationId: compMeas41pinComponents
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ComponentsV4RequestDTO'
        description: The request at least requires the specification of kType and
          language to get a list of PIN components.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PinComponentsV4Response'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: No component found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Pin components V4
      tags:
      - Component measurement values
  /api/v4/pin/data:
    post:
      description: Get the Pin data of a specified component.
      operationId: compMeas42pinData
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ComponentDataV4RequestDTO'
        description: The request at least requires the specification of kType and
          language to get a list of PIN data.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PinDataV4Response'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: No data found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Pin data V4
      tags:
      - Component measurement values
  /api/v4/pin/ecu/image:
    get:
      description: Get the ECU image of a component with pin data.
      operationId: compMeas43pinEcuImage
      parameters:
      - description: Id of the ECU Image
        explode: true
        in: query
        name: ecuImageId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UrlResponse'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: No data found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: ECU image V4
      tags:
      - Component measurement values
  /api/v1/ktype/component/mapping:
    get:
      description: The KType Component Mapping
      operationId: componentMapping
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: System Identification
        explode: true
        in: query
        name: systemIdent
        required: true
        schema:
          type: string
        style: form
      - description: Component Id
        explode: true
        in: query
        name: componentId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KtypeComponentMappingResponse'
          description: Successful
        "400":
          description: "Missing kType, language or code, invalid language or code"
        "404":
          description: No mapping found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: KType Component Mapping
      tags:
      - KType Component Mapping
  /api/v4/dtcs:
    post:
      description: API to get trouble code (DTC) interpretations as well as a prediction
        of a root cause.
      operationId: dtcs
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DtcRequestDto'
        description: "The request requires at least the VIN, a list of DTCs and the\
          \ language."
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Response'
          description: Successful
        "400":
          description: "Missing/invalid VIN, list of DTCs or language"
        "404":
          description: No DTCs found
      servers:
      - description: DTC Production
        url: https://dtc.hgs.cloud
      summary: DTC API
      tags:
      - DTC API
  /api/feedback/prediction/components:
    get:
      description: API to get a list of available vehicle components to choose from
        for the feedback API
      operationId: feedbackpredictioncomponents
      parameters:
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/DtcFeedbackPredictionComponent'
                type: array
          description: Successful
        "400":
          description: Missing/invalid language
        "404":
          description: No components found
      servers:
      - description: DTC Production
        url: https://dtc.hgs.cloud
      summary: FEEDBACK PREDICTION COMPONENTS API
      tags:
      - Component list for Feedback API
  /api/v1/vehicles:
    get:
      description: Get available vehicles based on a Ktype
      operationId: getVehicles
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: Model Id
        explode: true
        in: query
        name: modelId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/VehicleReferenceX'
                type: array
          description: Successful
        "400":
          description: Missing/invalid KType
        "404":
          description: No vehicles found
      servers:
      - description: Vehicle Production
        url: https://vin.hgs.cloud
      summary: Vehicles
      tags:
      - Vehicle API
  /api/v1/guide:
    get:
      description: Get the guide
      operationId: guide1
      parameters:
      - description: Guide Id
        explode: true
        in: query
        name: guideId
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Guide'
                type: array
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No Guide found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get guide
      tags:
      - Guide
  /api/v1/ident:
    post:
      description: "API to predict vehicles (Vehicle descriptors, KType or KBA) based\
        \ on a VIN"
      operationId: ident
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/IdentRequestDTO'
        description: The request includes at least the VIN.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IdentResponse'
          description: Successful
        "400":
          description: Missing/invalid makeId
        "404":
          description: No identification found
      servers:
      - description: VIS Production
        url: https://vis.hgs.cloud
      summary: Vehicle identification
      tags:
      - VIS API
  /api/v1/image:
    get:
      description: "The Image API serves as complement API to other APIs, such as\
        \ , \"Guide\", \"Technical Data\" or \"Service Schedules\" and returns an\
        \ image based on an imageId."
      operationId: image1
      parameters:
      - description: Image Id
        explode: true
        in: query
        name: imageId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No Image found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get image
      tags:
      - Image
  /api/v1/image/wiring-diagrams:
    get:
      description: The Image API for wiring-diagrams serves as complement API to the
        "Wiring Diagrams Diagram API" and returns an image based on an diagramId.
      operationId: image2WiringDiagrams
      parameters:
      - description: Diagram Id
        explode: true
        in: query
        name: diagramId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No Image found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get image wiring-diagrams
      tags:
      - Wiring Diagrams Image API
      - Image
  /api/v2/makes:
    get:
      description: Get make information.
      operationId: ktype1makes
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MakeV2'
                type: array
          description: Successful
        "400":
          description: Invalid
        "404":
          description: No makes found
      servers:
      - description: KType Production
        url: https://ktype.hgs.cloud
      summary: Makes
      tags:
      - KType API
  /api/v2/models:
    get:
      description: Get models information.
      operationId: ktype2models
      parameters:
      - description: Id of the make
        explode: true
        in: query
        name: makeId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ModelSeriesV2DTO'
                type: array
          description: Successful
        "400":
          description: Missing/invalid makeId
        "404":
          description: No models found
      servers:
      - description: KType Production
        url: https://ktype.hgs.cloud
      summary: Models
      tags:
      - KType API
  /api/v2/types:
    get:
      description: Get K-Types information.
      operationId: ktype3types
      parameters:
      - description: Id of the model
        explode: true
        in: query
        name: modelId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/TypeV2Dto'
                type: array
          description: Successful
        "400":
          description: Missing/invalid modelId
        "404":
          description: No types found
      servers:
      - description: KType Production
        url: https://ktype.hgs.cloud
      summary: Types
      tags:
      - KType API
  /api/v2/location/components:
    post:
      description: The Component Location API returns information about the components
        of a vehicle and their location based on the KType. The endpoint shows information
        by giving an image of the position in the vehicle and the coordinates.
      operationId: location1component
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/LocationsRequestDTO'
        description: The request at least requires the specification of kType and
          language to get a list of location components.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LocationsVehicleResponse'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: No component found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Component locations
      tags:
      - Location API
  /api/v1/location/fusebox:
    post:
      description: "The Fuses API lists information about the fuse boxes, its location\
        \ and relays upon specification of a KType."
      operationId: location2fusebox
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/FuseBoxLocationsRequestDTO'
        description: The request requires the specification of kType and language
          to get the fusebox location.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FuseBoxLocationsResponse'
          description: Successful
        "400":
          description: Missing/invalid manual kType or language
        "404":
          description: Fusebox location not found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Fuse and Fuse Box Locations
      tags:
      - Location API
  /api/v1/manufacturer-campaigns/tree:
    get:
      description: Get the tree of the manufacturer campaigns manuals of a given vehicle.
      operationId: manufacturerCampaigns1tree
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      - description: Two characters defining the ISO country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MainGroup'
                type: array
          description: Successful
        "400":
          description: "Missing kType, language or code, invalid language or code"
        "404":
          description: No manual found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get manufacturer campaigns manual tree
      tags:
      - Manufacturer Campaigns
  /api/v1/manufacturer-campaigns/manual:
    get:
      description: Get a list of proactive actions by the manufacturer when malfunctions
        are detected concerning certain models.
      operationId: manufacturerCampaigns2manual
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      - description: Two characters defining the ISO country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - description: Main Group
        explode: true
        in: query
        name: mainGroup
        required: true
        schema:
          type: string
        style: form
      - description: Sub Group
        explode: true
        in: query
        name: subGroup
        required: true
        schema:
          type: string
        style: form
      - description: Manual Group
        explode: true
        in: query
        name: manualGroup
        required: true
        schema:
          type: string
        style: form
      - description: Manual
        explode: true
        in: query
        name: manual
        required: true
        schema:
          type: string
        style: form
      - description: Qualifier
        explode: true
        in: query
        name: qualifier
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TecManual'
          description: Successful
        "400":
          description: "Missing/invalid manual parameter, language or code"
        "404":
          description: Manual not found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get manufacturer campaigns manual
      tags:
      - Manufacturer Campaigns
  /api/v1/wiring-diagrams/systems:
    post:
      description: Endpoint to get all available wiring diagrams systems.
      operationId: postWiringDiagrams1Systems
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/WiringDiagramsRequestDTO'
        description: "The request requires at least kType, language."
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/WiringDiagramSystemsResponse'
                type: array
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No wiring diagrams systems found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Post wiring diagrams systems
      tags:
      - Wiring Diagrams Systems API
  /api/v1/wiring-diagrams/diagram:
    post:
      description: Endpoint to get a wiring diagrams diagram.
      operationId: postWiringDiagrams2Diagram
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/WiringDiagramsDiagramsRequestDTO'
        description: "The request requires at least systemId, language."
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SystemAndDiagramResponse'
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No wiring diagrams diagram found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Post wiring diagrams diagrams
      tags:
      - Wiring Diagrams Systems API
  /api/v1/recall-campaigns/tree:
    get:
      description: Get security-related actions coordinated via federal instituations
        (e.g. the Kraftfahrbundesamt (KBA) in Germany).
      operationId: recallCampaigns1tree
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      - description: Two characters defining the ISO country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - description: Include Outdated Info
        explode: true
        in: query
        name: includeOutdatedInfos
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/RecallGroup'
                type: array
          description: Successful
        "400":
          description: "Missing kType, language or code, invalid language or code"
        "404":
          description: No manual found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get recall campaigns tree
      tags:
      - Recall Campaigns
  /api/v1/repair-instructions/tree:
    get:
      description: Get the tree of the repair instructions manuals of a given vehicle.
      operationId: repairInstructions1tree
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      - description: Two characters defining the ISO country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/MainGroup'
                type: array
          description: Successful
        "400":
          description: "Missing kType, language or code, invalid language or code"
        "404":
          description: No manual found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get repair instructions manuals tree
      tags:
      - Repair Instructions
  /api/v1/repair-instructions/manual:
    get:
      description: Get available repair instructions manual of a given vehicle.
      operationId: repairInstructions2manual
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      - description: Two characters defining the ISO country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - description: Main Group
        explode: true
        in: query
        name: mainGroup
        required: true
        schema:
          type: string
        style: form
      - description: Sub Group
        explode: true
        in: query
        name: subGroup
        required: true
        schema:
          type: string
        style: form
      - description: Manual Group
        explode: true
        in: query
        name: manualGroup
        required: true
        schema:
          type: string
        style: form
      - description: Manual
        explode: true
        in: query
        name: manual
        required: true
        schema:
          type: string
        style: form
      - description: Qualifier
        explode: true
        in: query
        name: qualifier
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TecManual'
          description: Successful
        "400":
          description: "Missing/invalid manual parameter, language or code"
        "404":
          description: Manual not found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get repair instructions manual
      tags:
      - Repair Instructions
  /api/v1/repair-times-tree:
    get:
      description: Returns category tree for repair times for a specified vehicle.
      operationId: repairTimes1tree
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepairTimesTreeResponse'
          description: Successful
        "400":
          description: "Missing/invalid parameter, kType or language"
        "404":
          description: RepairTimesTree not found for given kType
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get repair times tree
      tags:
      - Repair Times
  /api/v1/repair-times:
    get:
      description: Returns all jobs and their repair times for a specified vehicle.
      operationId: repairTimes2details
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: true
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      - description: |-
          The id of the desired category, as describe in the /tree endpoint.

          A valid combination of query parameters can be:
          - categoryId & subCategoryId
          - categoryId & subCategoryId & genericArticleNo
          - categoryId & genericArticleNo
          - genericArticleNo
        explode: true
        in: query
        name: categoryId
        required: false
        schema:
          type: string
        style: form
      - description: |-
          The id of the desired sub category, as describe in the /tree endpoint.

          A valid combination of query parameters can be:
          - categoryId & subCategoryId
          - categoryId & subCategoryId & genericArticleNo
          - categoryId & genericArticleNo
          - genericArticleNo
        explode: true
        in: query
        name: subCategoryId
        required: false
        schema:
          type: string
        style: form
      - description: |-
          The number of the generic article number (spare part/component) to get specific repair time jobs related to the component.

          A valid combination of query parameters can be:
          - categoryId & subCategoryId
          - categoryId & subCategoryId & genericArticleNo
          - categoryId & genericArticleNo
          - genericArticleNo
        explode: true
        in: query
        name: genericArticleNo
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RepairTimesJobResponse'
          description: Successful
        "400":
          description: "Missing/invalid parameter, kType, language, categoryId or\
            \ subCategory"
        "404":
          description: RepairTimes not found for given kType/categoryId/subCategory
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get repair times details
      tags:
      - Repair Times
  /api/v1/service-schedules:
    post:
      description: "Endpoint to get all available service types (such as fixed or\
        \ variable service interval) and their associated services incl. expected\
        \ labour times, interval details, instructions and more."
      operationId: serviceSchedules1main
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ServiceSchedulesRequestDTO'
        description: "The request requires at least kType, regionCode, language."
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ServiceType'
                type: array
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No service schedules found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Post service schedules
      tags:
      - Service Schedules
  /api/v1/service-schedules/inspections:
    post:
      description: "Endpoint to get detailed inspection steps, grouped by the sequence\
        \ of operation in the repair shop, detailed labour times of the individual\
        \ steps, potential components/spare parts (e.g. engine oil, ...), data inputs\
        \ (e.g. tire pressure values), relevant technical data (e.g. engine oil specification)\
        \ and helpful instructions."
      operationId: serviceSchedules2inspections
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/InspectionsRequestDTO'
        description: "For the request, it is required to specify the kType, language,\
          \ regionCode as well as the desired serviceIds."
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/SchemaCategory'
                type: array
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No service schedules inspection found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Post service schedules inspections
      tags:
      - Service Schedules
  /api/v1/techdata:
    get:
      description: "Get technical data for a selected vehicle, such as engine oil\
        \ specifications, brake disk dimensions, tire sizes etc. The request needs\
        \ the KType or HGS Manufacturer Id and HGS Model Id."
      operationId: technicalData1main
      parameters:
      - description: KType
        explode: true
        in: query
        name: kType
        required: false
        schema:
          type: string
        style: form
      - description: "Two characters defining the language code; allowed values: de,\
          \ en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru, ro, pt,\
          \ pl"
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      - description: Engine Code
        explode: true
        in: query
        name: engineCode
        required: false
        schema:
          type: string
        style: form
      - description: Engine kW
        explode: true
        in: query
        name: engineKw
        required: false
        schema:
          type: string
        style: form
      - description: Region Code
        explode: true
        in: query
        name: regionCode
        required: false
        schema:
          type: string
        style: form
      - description: HGS Manufacturer Id
        explode: true
        in: query
        name: hgsManufId
        required: false
        schema:
          type: string
        style: form
      - description: HGS Model Id
        explode: true
        in: query
        name: hgsModelId
        required: false
        schema:
          type: string
        style: form
      - description: Production Year
        explode: true
        in: query
        name: productionYear
        required: false
        schema:
          type: string
        style: form
      - description: Preview
        explode: true
        in: query
        name: preview
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/VehicleTechData'
                type: array
          description: Successful
        "400":
          description: Missing/invalid parameter
        "404":
          description: No technical data found
      servers:
      - description: RMI Production
        url: https://rmi.hgs.cloud
      summary: Get technical data
      tags:
      - Technical Data
components:
  schemas:
    Attributes:
      example:
        fullscreen: fullscreen
        alt: alt
        mimetype: mimetype
        id: id
        type: type
      properties:
        id:
          description: id
          type: string
        type:
          description: type
          type: string
        alt:
          description: returns an alt-term for the image
          type: string
        fullscreen:
          description: fullscreen
          type: string
        mimetype:
          description: indicates the mime type of the file
          type: string
      type: object
    Codes:
      description: Lists the Hella Gutmann and proprietary representations of the
        DTC.
      example:
        dtcHgs: dtcHgs
        pageIdArray:
        - pageIdArray
        - pageIdArray
        tableId: tableId
        dtcManuf: dtcManuf
        pageId: pageId
        tableIdArray:
        - tableIdArray
        - tableIdArray
      properties:
        dtcHgs:
          description: Shows the DTC representation of how Hella Gutmann diagnostic
            devices store the trouble code
          type: string
        dtcManuf:
          description: "If existent, shows the DTC representation of how the manufacturer\
            \ maintains the (proprietary) trouble codes"
          type: string
        pageId:
          description: Page Id (internal)
          type: string
        pageIdArray:
          description: Page Id Array (internal)
          items:
            type: string
          type: array
          uniqueItems: true
        tableId:
          description: Table Id (internal)
          type: string
        tableIdArray:
          description: Table Id Array (internal)
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    Component:
      example:
        prob: 2
        genericArticleNumbers:
        - 7
        - 7
        name: name
        language: en
        id: 5
        relatedRmi:
          json:
            vehicleInfos:
            - datatype: datatype
              richtext:
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              order: 7
            - datatype: datatype
              richtext:
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              order: 7
            peripheries:
            - datatype: datatype
              idPeriphery: 4
              vehicleInfo: vehicleInfo
              richtext:
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              text: text
              order: 2
            - datatype: datatype
              idPeriphery: 4
              vehicleInfo: vehicleInfo
              richtext:
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              text: text
              order: 2
            diagnosesGdstStco:
            - datatype: datatype
              richtext:
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              id: 9
              text: text
              order: 3
              textSubSystem: textSubSystem
            - datatype: datatype
              richtext:
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              - texts:
                - texts
                - texts
                contentValue: contentValue
                contentValues:
                - contentValues
                - contentValues
                attributes:
                  fullscreen: fullscreen
                  alt: alt
                  mimetype: mimetype
                  id: id
                  type: type
                id: id
                text: text
                type: type
                content: null
              id: 9
              text: text
              order: 3
              textSubSystem: textSubSystem
          html: html
      properties:
        id:
          description: ID of the component
          format: int32
          type: integer
        name:
          description: Name of the component
          type: string
        language:
          description: "Two characters defining the language code; allowed values:\
            \ de, en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru,\
            \ ro, pt, pl"
          enum:
          - en
          - de
          - nl
          - zh
          - it
          - hu
          - hr
          - fr
          - fi
          - es
          - el
          - tr
          - da
          - sv
          - sk
          - cs
          - ru
          - ro
          - br
          - pt
          - pl
          type: string
        prob:
          description: "Probability that this component is affected, based on historic\
            \ repair evidence"
          format: int32
          type: integer
        relatedRmi:
          $ref: '#/components/schemas/RelatedRmi'
        genericArticleNumbers:
          description: The list of generic article numbers
          items:
            format: int32
            type: integer
          type: array
      type: object
    Diagnoses:
      example:
        datatype: datatype
        richtext:
        - texts:
          - texts
          - texts
          contentValue: contentValue
          contentValues:
          - contentValues
          - contentValues
          attributes:
            fullscreen: fullscreen
            alt: alt
            mimetype: mimetype
            id: id
            type: type
          id: id
          text: text
          type: type
          content: null
        - texts:
          - texts
          - texts
          contentValue: contentValue
          contentValues:
          - contentValues
          - contentValues
          attributes:
            fullscreen: fullscreen
            alt: alt
            mimetype: mimetype
            id: id
            type: type
          id: id
          text: text
          type: type
          content: null
        id: 9
        text: text
        order: 3
        textSubSystem: textSubSystem
      properties:
        id:
          description: id
          format: int32
          type: integer
        datatype:
          description: "Can have values to further specify the data type presented.\
            \ Can have values such as: flatrateunit (repair times), fuserelay, composition\
            \ (placements and organisation of different elements on the vehicle),\
            \ stco (ECU coding), periphery (relevant periphery components to the main\
            \ component), wiringdiagram, techdata, \"techinfo\" (proprietary knowledge\
            \ database of Hella Gutmann), \"componenttestvalues\", \"bulletin\", \"\
            manual\", \"gdst\" (basic setting),  \"faultcode\", \"parameter\""
          type: string
        order:
          description: order
          format: int32
          type: integer
        text:
          description: text
          type: string
        richtext:
          description: Contains structured texts to guide the interpretation of text
            values.
          items:
            $ref: '#/components/schemas/RichTextDTO'
          type: array
        textSubSystem:
          description: The name of the sub system
          type: string
      type: object
    DtcDataResponseV4:
      example:
        codes:
          dtcHgs: dtcHgs
          pageIdArray:
          - pageIdArray
          - pageIdArray
          tableId: tableId
          dtcManuf: dtcManuf
          pageId: pageId
          tableIdArray:
          - tableIdArray
          - tableIdArray
        code: code
        dtcInput:
          code: code
          format: HEX
          ecuSystem: MO
          tableId: tableId
          pageId: pageId
        cause:
          language: en
          id: id
          text: text
          title: title
        recommendation:
          driver: driver
          language: en
          id: id
          text: text
          dashboard: dashboard
        ecuSystems:
        - language: en
          id: id
          text: text
          title: title
        - language: en
          id: id
          text: text
          title: title
        classification: classification
        error:
          code: code
          description: description
          details:
          - details
          - details
        relevance: relevance
        dtcTextId: dtcTextId
        effect:
          language: en
          id: id
          text: text
          title: title
        warning:
          image: image
          language: en
          text: text
          title: title
        information:
          language: en
          id: id
          text: text
          title: title
        category:
          language: en
          id: id
          text: text
          title: title
        subcategory:
          language: en
          id: id
          text: text
          title: title
      properties:
        dtcInput:
          $ref: '#/components/schemas/InputedData'
        codes:
          $ref: '#/components/schemas/Codes'
        code:
          description: Code
          type: string
        dtcTextId:
          description: DTC Text Id
          type: string
        category:
          $ref: '#/components/schemas/DtcTranslation'
        subcategory:
          $ref: '#/components/schemas/DtcTranslation'
        information:
          $ref: '#/components/schemas/DtcTranslation'
        warning:
          $ref: '#/components/schemas/Warning'
        cause:
          $ref: '#/components/schemas/DtcTranslation'
        effect:
          $ref: '#/components/schemas/DtcTranslation'
        classification:
          description: Classification
          type: string
        recommendation:
          $ref: '#/components/schemas/Recommendation'
        ecuSystems:
          description: An array of all ECU system were the found DTC might exist
          items:
            $ref: '#/components/schemas/DtcTranslation'
          type: array
        error:
          $ref: '#/components/schemas/Error'
        relevance:
          description: "If multiple results are found, a ranking (based on statistical\
            \ relevance) might be shown."
          type: string
      type: object
    DtcTranslation:
      example:
        language: en
        id: id
        text: text
        title: title
      properties:
        id:
          description: Id
          type: string
        title:
          description: Translation title
          type: string
        text:
          description: Translation text
          type: string
        language:
          description: "Two characters defining the language code; allowed values:\
            \ de, en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru,\
            \ ro, pt, pl"
          enum:
          - en
          - de
          - nl
          - zh
          - it
          - hu
          - hr
          - fr
          - fi
          - es
          - el
          - tr
          - da
          - sv
          - sk
          - cs
          - ru
          - ro
          - br
          - pt
          - pl
          type: string
      type: object
    Error:
      example:
        code: code
        description: description
        details:
        - details
        - details
      properties:
        code:
          description: Error code
          type: string
        description:
          description: Error description
          type: string
        details:
          description: Error details
          items:
            type: string
          type: array
      type: object
    FeatureImportance:
      description: Machine-learning plots and calculation
      example:
        css: css
        plot: plot
        sankey:
        - amount: 1.0246457001441578
          sourceType: sourceType
          source: source
          target: 1
        - amount: 1.0246457001441578
          sourceType: sourceType
          source: source
          target: 1
      properties:
        plot:
          description: Plot
          type: string
        css:
          description: Css
          type: string
        sankey:
          description: "Sankey diagram showing the relevance of each provided DTC\
            \ and the component prediction it relates to, encoded as base64"
          items:
            $ref: '#/components/schemas/Sankey'
          type: array
      type: object
    InputedData:
      description: Mirrors the inputted code and its attributes in order to facilitate
        a better mapping of the result.
      example:
        code: code
        format: HEX
        ecuSystem: MO
        tableId: tableId
        pageId: pageId
      properties:
        code:
          description: The exact code that was inputted
          type: string
        format:
          description: "The exact code format that was inputted, if provided"
          enum:
          - HEX
          - DEC
          - PBCU
          type: string
        ecuSystem:
          description: "The exact ECU system that was inputted, if provided; Mapping\
            \ as per the following:<table><tbody><tr><td>MO</td><td>Engine</td></tr><tr><td>AB</td><td>ABS</td></tr><tr><td>AI</td><td>Airbag</td></tr><tr><td>KL</td><td>Air\
            \ conditioning</td></tr><tr><td>KO</td><td>Comfort</td></tr><tr><td>GE</td><td>Transmission</td></tr><tr><td>DI</td><td>Anti-theft\
            \ device</td></tr><tr><td>FA</td><td>Suspension</td></tr><tr><td>LE</td><td>Steering</td></tr><tr><td>AV</td><td>Audio/Video</td></tr><tr><td>RD</td><td>Tire\
            \ pressure monitoring</td></tr><tr><td>OB</td><td>OBD</td></tr><tr><td>SI</td><td>Safety</td></tr><tr><td>RI</td><td>Readiness\
            \ code</td></tr><tr><td>GW</td><td>Gateway</td></tr></tbody></table>"
          enum:
          - MO
          - AB
          - AI
          - KL
          - KO
          - GE
          - DI
          - FA
          - LE
          - AV
          - RD
          - OB
          - SI
          - RI
          - GW
          type: string
        pageId:
          description: "The pageId, if provided (internal)"
          type: string
        tableId:
          description: "The tableId, if provided (internal)"
          type: string
      type: object
    JsonRmi:
      example:
        vehicleInfos:
        - datatype: datatype
          richtext:
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          order: 7
        - datatype: datatype
          richtext:
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          order: 7
        peripheries:
        - datatype: datatype
          idPeriphery: 4
          vehicleInfo: vehicleInfo
          richtext:
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          text: text
          order: 2
        - datatype: datatype
          idPeriphery: 4
          vehicleInfo: vehicleInfo
          richtext:
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          text: text
          order: 2
        diagnosesGdstStco:
        - datatype: datatype
          richtext:
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          id: 9
          text: text
          order: 3
          textSubSystem: textSubSystem
        - datatype: datatype
          richtext:
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          - texts:
            - texts
            - texts
            contentValue: contentValue
            contentValues:
            - contentValues
            - contentValues
            attributes:
              fullscreen: fullscreen
              alt: alt
              mimetype: mimetype
              id: id
              type: type
            id: id
            text: text
            type: type
            content: null
          id: 9
          text: text
          order: 3
          textSubSystem: textSubSystem
      properties:
        vehicleInfos:
          description: Shows information relevant to the vehicle.
          items:
            $ref: '#/components/schemas/VehicleInfo'
          type: array
        diagnosesGdstStco:
          description: diagnosesGdstStco
          items:
            $ref: '#/components/schemas/Diagnoses'
          type: array
        peripheries:
          description: Array of components or symptoms associated with the main component
          items:
            $ref: '#/components/schemas/Periphery'
          type: array
      type: object
    Periphery:
      example:
        datatype: datatype
        idPeriphery: 4
        vehicleInfo: vehicleInfo
        richtext:
        - texts:
          - texts
          - texts
          contentValue: contentValue
          contentValues:
          - contentValues
          - contentValues
          attributes:
            fullscreen: fullscreen
            alt: alt
            mimetype: mimetype
            id: id
            type: type
          id: id
          text: text
          type: type
          content: null
        - texts:
          - texts
          - texts
          contentValue: contentValue
          contentValues:
          - contentValues
          - contentValues
          attributes:
            fullscreen: fullscreen
            alt: alt
            mimetype: mimetype
            id: id
            type: type
          id: id
          text: text
          type: type
          content: null
        text: text
        order: 2
      properties:
        datatype:
          description: "Can have values to further specify the data type presented.\
            \ Can have values such as: flatrateunit (repair times), fuserelay, composition\
            \ (placements and organisation of different elements on the vehicle),\
            \ stco (ECU coding), periphery (relevant periphery components to the main\
            \ component), wiringdiagram, techdata, \"techinfo\" (proprietary knowledge\
            \ database of Hella Gutmann), \"componenttestvalues\", \"bulletin\", \"\
            manual\", \"gdst\" (basic setting),  \"faultcode\", \"parameter\""
          type: string
        order:
          description: order
          format: int32
          type: integer
        idPeriphery:
          description: unique ID of the periphery
          format: int32
          type: integer
        text:
          description: Text of the periphery
          type: string
        richtext:
          description: Contains structured texts to guide the interpretation of text
            values.
          items:
            $ref: '#/components/schemas/RichTextDTO'
          type: array
        vehicleInfo:
          description: vehicleInfo
          type: string
      type: object
    Recommendation:
      description: "The response object \"recommendation\" can return 2 different\
        \ text versions:\"dashboard\": The recommendation is optimised for end users\
        \ that mostly navigate a fleet dashboard.\"driver\": The recommendation is\
        \ optimised for the driver of the vehicle."
      example:
        driver: driver
        language: en
        id: id
        text: text
        dashboard: dashboard
      properties:
        id:
          description: Identifier
          type: string
        language:
          description: "Two characters defining the language code; allowed values:\
            \ de, en, nl, zh, it, hu, hr, fr, fi, es, el, tr, da, sv, sk, cs, ru,\
            \ ro, pt, pl"
          enum:
          - en
          - de
          - nl
          - zh
          - it
          - hu
          - hr
          - fr
          - fi
          - es
          - el
          - tr
          - da
          - sv
          - sk
          - cs
          - ru
          - ro
          - br
          - pt
          - pl
          type: string
        text:
          description: Translation text
          type: string
        dashboard:
          description: The dashboard related text
          type: string
        driver:
          description: The driver related text
          type: string
      type: object
    RelatedRmi:
      description: "Repair and maintenance information for this component as HTML,\
        \ encoded as base64"
      example:
        json:
          vehicleInfos:
          - datatype: datatype
            richtext:
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            order: 7
          - datatype: datatype
            richtext:
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            order: 7
          peripheries:
          - datatype: datatype
            idPeriphery: 4
            vehicleInfo: vehicleInfo
            richtext:
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            text: text
            order: 2
          - datatype: datatype
            idPeriphery: 4
            vehicleInfo: vehicleInfo
            richtext:
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            text: text
            order: 2
          diagnosesGdstStco:
          - datatype: datatype
            richtext:
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            id: 9
            text: text
            order: 3
            textSubSystem: textSubSystem
          - datatype: datatype
            richtext:
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            - texts:
              - texts
              - texts
              contentValue: contentValue
              contentValues:
              - contentValues
              - contentValues
              attributes:
                fullscreen: fullscreen
                alt: alt
                mimetype: mimetype
                id: id
                type: type
              id: id
              text: text
              type: type
              content: null
            id: 9
            text: text
            order: 3
            textSubSystem: textSubSystem
        html: html
      properties:
        html:
          description: "HTML, encoded as base64"
          type: string
        json:
          $ref: '#/components/schemas/JsonRmi'
      type: object
    Response:
      example:
        featureImportance:
          css: css
          plot: plot
          sankey:
          - amount: 1.0246457001441578
            sourceType: sourceType
            source: source
            target: 1
          - amount: 1.0246457001441578
            sourceType: sourceType
            source: source
            target: 1
        totalItems: 1
        data:
        - codes:
            dtcHgs: dtcHgs
            pageIdArray:
            - pageIdArray
            - pageIdArray
            tableId: tableId
            dtcManuf: dtcManuf
            pageId: pageId
            tableIdArray:
            - tableIdArray
            - tableIdArray
          code: code
          dtcInput:
            code: code
            format: HEX
            ecuSystem: MO
            tableId: tableId
            pageId: pageId
          cause:
            language: en
            id: id
            text: text
            title: title
          recommendation:
            driver: driver
            language: en
            id: id
            text: text
            dashboard: dashboard
          ecuSystems:
          - language: en
            id: id
            text: text
            title: title
          - language: en
            id: id
            text: text
            title: title
          classification: classification
          error:
            code: code
            description: description
            details:
            - details
            - details
          relevance: relevance
          dtcTextId: dtcTextId
          effect:
            language: en
            id: id
            text: text
            title: title
          warning:
            image: image
            language: en
            text: text
            title: title
          information:
            language: en
            id: id
            text: text
            title: title
          category:
            language: en
            id: id
            text: text
            title: title
          subcategory:
            language: en
            id: id
            text: text
            title: title
        - codes:
            dtcHgs: dtcHgs
            pageIdArray:
            - pageIdArray
            - pageIdArray
            tableId: tableId
            dtcManuf: dtcManuf
            pageId: pageId
            tableIdArray:
            - tableIdArray
            - tableIdArray
          code: code
          dtcInput:
            code: code
            format: HEX
            ecuSystem: MO
            tableId: tableId
            pageId: pageId
          cause:
            language: en
            id: id
            text: text
            title: title
          recommendation:
            driver: driver
            language: en
            id: id
            text: text
            dashboard: dashboard
          ecuSystems:
          - language: en
            id: id
            text: text
            title: title
          - language: en
            id: id
            text: text
            title: title
          classification: classification
          error:
            code: code
            description: description
            details:
            - details
            - details
          relevance: relevance
          dtcTextId: dtcTextId
          effect:
            language: en
            id: id
            text: text
            title: title
          warning:
            image: image
            language: en
            text: text
            title: title
          information:
            language: en
            id: id
            text: text
            title: title
          category:
            language: en
            id: id
            text: text
            title: title
          subcategory:
            language: en
            id: id
            text: text
            title: title
        predictionFeedbackReference: predictionFeedbackReference
        totalPages: 5
        criticality: 1.4894159
        page: 6
        predictedComponents:
        - prob: 2
          genericArticleNumbers:
          - 7
          - 7
          name: name
          language: en
          id: 5
          relatedRmi:
            json:
              vehicleInfos:
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                order: 7
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                order: 7
              peripheries:
              - datatype: datatype
                idPeriphery: 4
                vehicleInfo: vehicleInfo
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                text: text
                order: 2
              - datatype: datatype
                idPeriphery: 4
                vehicleInfo: vehicleInfo
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                text: text
                order: 2
              diagnosesGdstStco:
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                id: 9
                text: text
                order: 3
                textSubSystem: textSubSystem
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                id: 9
                text: text
                order: 3
                textSubSystem: textSubSystem
            html: html
        - prob: 2
          genericArticleNumbers:
          - 7
          - 7
          name: name
          language: en
          id: 5
          relatedRmi:
            json:
              vehicleInfos:
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                order: 7
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                order: 7
              peripheries:
              - datatype: datatype
                idPeriphery: 4
                vehicleInfo: vehicleInfo
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                text: text
                order: 2
              - datatype: datatype
                idPeriphery: 4
                vehicleInfo: vehicleInfo
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                text: text
                order: 2
              diagnosesGdstStco:
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                id: 9
                text: text
                order: 3
                textSubSystem: textSubSystem
              - datatype: datatype
                richtext:
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                - texts:
                  - texts
                  - texts
                  contentValue: contentValue
                  contentValues:
                  - contentValues
                  - contentValues
                  attributes:
                    fullscreen: fullscreen
                    alt: alt
                    mimetype: mimetype
                    id: id
                    type: type
                  id: id
                  text: text
                  type: type
                  content: null
                id: 9
                text: text
                order: 3
                textSubSystem: textSubSystem
            html: html
        error:
          code: code
          description: description
          details:
          - details
          - details
        status: 0
      properties:
        status:
          description: Status
          format: int32
          type: integer
        error:
          $ref: '#/components/schemas/Error'
        page:
          description: Page
          format: int32
          type: integer
        totalItems:
          description: Number of total items
          format: int32
          type: integer
        totalPages:
          description: Number of total pages
          format: int32
          type: integer
        data:
          description: Response data array of objects
          items:
            $ref: '#/components/schemas/DtcDataResponseV4'
          type: array
        predictedComponents:
          description: Array containing predicted components and further information.
          items:
            $ref: '#/components/schemas/Component'
          type: array
[...]
